@import 'assets/css/bootstrap.min.css';
@import 'assets/css/style.css';
@import 'assets/css/Steps.css';
@import 'assets/css/reviewForm.css';
@import 'assets/css/thanks.css';

* {
  font-family: "Barlow", sans-serif;
}

* {
  font-family: "Barlow", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #333;
}

p{
  color: #777;
}

body{
  background-color: #f9fafc;
}
